#artirma-main {
}

#artirma-container {
  display: flex;
  background-color: #faf7f2;
  border-radius: 1em;
}

#artirma-container button {
  border: 0px transparent solid;
  background-color: transparent;
  margin: 0px;
  padding: 20px;
  font-size: 1.4em;
font-weight: 500;
}
#artirma-container p{
margin: 0px;
padding: 16px 20px;
font-size: 1.4em;
}
