#HamurKalinligi-Main {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 200px;
  }
  
  #HamurKalinligi-Main label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #HamurKalinligi-Main select {
    font-size: 1.4em;
    width: 180px;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    background-color: #FAF7F2;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.199);
    outline: none;
    margin-top: 0.5em;

  }
  
 

  #HamurKalinligi-Main select option {
    font-size: 1em;
}
  