#PizzaBoyutu-Main input {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  border-radius: 50%;
  background-color: #FAF7F2;
  border: 0px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
font-size: 1.4em;
font-weight: 700;
}
#PizzaBoyutu-Main input:hover{
background-color: #fdca1346;
}

#PizzaBoyutu-Main h3{
    font-size: 1.4em;
    margin: 5px;
    font-weight: 700;
}


