#container_urun{
}

#SecilenUrun-img{
display: flex;
justify-content: center;
}
#container_urun img{
width: 75%;
justify-content: center;
}
#fiyat-puan-satıs{
    display: flex;
    justify-content: space-between;
}
#fiyat-puan-satıs h2{
    margin: 0px;
    font-size: 2em;
}
#fiyat-puan-satıs div{
    display: flex;
}
#fiyat-puan-satıs div p{
    padding-left: 50px;
    color: #5F5F5F;
}
#urun-acıklaması{
    color: #5F5F5F;
}

/* -------------- */
