#navbar{
    width: 100%;
        background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    }
#navbaricerik{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.icerik{
    display: flex;
}
.icerik p,img{
    margin: auto 5px;;
    font-weight: bold;
} 