
#ürünler-main{
    padding: 50px 0px;
}
#ürünler-container{
    display: flex;
    justify-content: center;
}


.ürünler{
    display: flex;
    justify-content:space-around;
    width: 80%;
    flex-wrap: wrap;
}
.ürün-çeşitleri{
    border-radius: 1em;
    background-color: #fff;
    padding: 15px 40px;
    border-color: #ffffff00;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-bottom: 30px;
}
.ürün-çeşitleri:hover{
    box-shadow: 0 24px 36px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;  

}
.puan-satış-fiyat div{
    display: flex;
    justify-content: space-between;
}

.puan-satış-fiyat h2{
    text-align: start;
    margin-top: 15px;
    font-size: 1.5em;
    margin-bottom: 0px;
}
.puan-satış-fiyat p{
    font-size: 1.3em;
}
.fiyat{
    font-weight: bold;
}