
#main-container{
width: 100%;
}
form{
  display: flex;
  justify-content: center;
}
#checkboxDiv{

  width: 25%;

}
#checkboxDiv1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.checkboxlar{
  width: 100px;
}
#button-sepet{
  display: flex;
  justify-content: center;
}


.checkbox {
  display: flex;
  align-items: center;
  margin: 10px;
  position: relative;
  cursor: pointer;
  }
  .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  }
  .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #a57100;
  border: 1px solid #000;
  border-radius: 5px;
  }
  .checkmark:before {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 6px;
  height: 13px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  }
  .checkbox input:checked ~ .checkmark:before {
  display: block;
  }
  .checkbox:hover .checkmark {
  background-color: #F4D03F;
  }
  .checkbox input:checked ~ .checkmark {
  background-color: #af0000;
  }
  .checkbox input:checked ~ .checkmark:before {
  border-color: #505050;
  }