#siparisH1{
    font-family: 'Barlow', sans-serif; 
color: white;
font-size: 3em;
margin: 10px 0px;
}
#siparis-header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #CE2829;
}
#siparis-ürünü {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
#siparis-detayı{
    padding-top: 30px;
    display: flex;
    justify-content: center;  
}
#yönlendirme{

    margin: 0px;
    margin-bottom: 3px;
    color: white;
    text-align: center;
}
#yönlendirme a{
    text-decoration: none;
    padding-left: 5px;
    color: white;

}
#yönlendirme a:hover{
    text-decoration: underline;
    color: rgb(248, 208, 208);
    cursor: pointer;  
}

